<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320206510852-33qf2ll4e7u6gso197nlm4iiisbfl731.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320206510852-33qf2ll4e7u6gso197nlm4iiisbfl731</string>
	<key>API_KEY</key>
	<string>AIzaSyAzDCkUIX8cc0sIcggM94f5ITlNPJK2LpM</string>
	<key>GCM_SENDER_ID</key>
	<string>320206510852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.santhoshjke.kye</string>
	<key>PROJECT_ID</key>
	<string>knowyemployeee</string>
	<key>STORAGE_BUCKET</key>
	<string>knowyemployeee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320206510852:ios:28276c5679fb01842c4e51</string>
</dict>
</plist>